@font-face {
  font-family: "pkmn";
  src: url("fonts/pkmnbydrizzee.ttf") format("truetype");
}

#numberInput {
  position: absolute;
  width: 140px;
  height: 28px;
  font-size: 14px;
  font-family: 'pkmn', monospace;
  color: white;
  background: rgba(20, 20, 20, 1);
  border: 2px solid white;
  border-radius: 4px;
  padding: 2px 7px;
  outline: none;
  z-index: 9999;
  display: none;
}

#numberInput::placeholder {
  color: #aaa;
  font-style: italic;
}